@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #000000; /* Color del texto */
    line-height: 1.6; /* Espaciado entre líneas */
    margin: 0;
    padding: 0;
    
}
.navbar{
    background-color: rgb(255, 105, 44);
}
h1{
    font-family: "Oswald", sans-serif;
    color: #000000; /* Color de los encabezados */
    margin-top: 0;
    margin: auto;
}

#video{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura según necesites */
    width: 100%; /* Ajusta el ancho según necesites */
    
}
video {
    max-width: 90%; /* o el porcentaje que mejor se ajuste a tu diseño */
    max-height: 90%; /* mantiene el aspecto y evita que se salga de la pantalla */
    border: 5px solid #ffffff; /* Borde blanco */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Sombra */
    width: 100%;
    height: auto;
    max-width: 1000px;
    margin: 0 auto;
    display: block;
}.inicio{
    background-color: #9b9b9b;
}
/*YANBAL BENEFICIOS INICIO*/
.benefits-section {
    text-align: center;
    margin: 50px 0;
}
.benefits-title {
    font-size: 2.5rem;
    margin-bottom: 30px;
}
.benefits-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.benefits-item {
    flex: 1 1 20%;
    margin: 10px;
    max-width: 250px;
}
.benefits-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}
.benefits-item h5 {
    font-size: 1.25rem;
    margin-bottom: 10px;
}
.benefits-item p {
    font-size: 1rem;
    color: #555;
}
/*YANBAL BENEFICIOS FINALIZA*/